header{
    background-color: rgba(4, 107, 4, 0.856);
}

a.navbar-brand{
    font-family: cursive;
    font-size: 2rem;
    color: chartreuse;
}

.button-primary.navbar-toggler{
    background-color: rgb(113, 221, 4);
}


.btn.btn-outline-primary{
    background-color: rgb(113, 221, 4);
    border-color: transparent;
    color: white;
    
}

.bi.bi-arrow-bar-down,.bi.bi-arrow-bar-up{
    font-size: 2rem;
    color: white;
    transition: 1s;
}

a.nav-link{
    color: rgb(113, 221, 4);
}

.nav-pills .nav-item{
    margin-right: 2rem;
    
}

.nav-pills .nav-link.active{
    background-color: rgb(113, 221, 4);
    padding-left:1.5rem ;
    padding-right:1.5rem ;
}

.nav-pills .nav-link.active:hover{
    background-color: rgb(113, 221, 4);
    color: white;
}

.nav-pills .nav-link:hover{
    color:white;
}

main#p2{ 
    padding-top: 1rem;
}

h3{
    color:black;
}

.bi.bi-x-diamond-fill{
    font-size: 1.2rem;

}

div.card{
    margin:5px;
}

.card-text a{
    color:rgb(113, 221, 4);
}

main#carsel,main{
    background:url("../img/bg1.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main#carsel{
    height:calc(100vh - 8rem);
}
footer{
    text-align: center;
    background-color: rgba(27, 27, 27, 0.76);
    color: white;
    padding: 0.45rem;
}